/**** Video background stuff, lovingly liberated from Pitchfork ****/

#backdrop {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#backdrop-content {
    position: relative;
    width: 100%;
    height: 100%;
}
/*
#backdrop-center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1280px;
    height: 720px;
    margin-left: -640px;
    margin-top: -360px;
}

#backdrop-center > * {
    position: absolute;
    left: 0;
    top: 0;
} */