/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,800);

html,
button,
input,
select,
textarea {
    color: #222;
    background: #F8F8F8;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    overflow: auto;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Site Styles
   ========================================================================== */

a	{
	text-decoration: none;
	color: #ebed53;
	opacity: .7;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;		
}

a:hover	{
	opacity: 1.0;
}
   
.pull-right	{
	float: right;
	clear: both;
}   

/* nav styles */

ul	{
	margin: 0;
	padding: 0;
}

nav	{
	position: fixed;
	clear: both;
}

nav ul li 	{
	margin: 0px 0px 10px 0px;
	padding: 10px 0px;
	width: 215px;
	text-align: right;
}

nav ul li a  {
	color: black;
	size: 1.5em;
	font-weight: 700;
	text-decoration: none;
	padding: 10px 20px;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
	width: 250px;
	opacity: 1.0;
}

nav ul li a span	{
	padding-left: 10px;
}

nav ul li:hover  {
	transform:scale3d(1.15,1.15,1.15);
	-ms-transform:scale3d(1.15,1.15,1.15); /* IE 9 */
	-moz-transform:scale3d(1.15,1.15,1.15); /* Firefox */
	-webkit-transform:scale3d(1.15,1.15,1.15); /* Safari and Chrome */
	-o-transform:scale3d(1.15,1.15,1.15); /* Opera */
}

nav ul li a.social:hover	{
	color: #EBED53;
}

nav ul li a.people:hover	{
	color: #60A142;
}

nav ul li a.spartan-pride:hover	{
	color: #EE993E;
}

nav ul li a.bucket-list:hover	{
	color: #872e2e;
}

nav ul li a:hover:after	{	
	content: ">";
	float: right;
}

#menu-button	{
	display: none;
}

/* main content styles  */

#content	{
	width: 900px;
	margin: 130px 0px 0px 300px;
	clear: both;
}

section	{
	height: 600px;
	padding-top: 170px;
}

.gray	{
	color: rgba(162, 160, 160, 0.75);
}

.box {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: auto;
	height: auto;
	background: #ffffff;
	margin-bottom: 20px;
}

#back-top  { 
	position: fixed;
	right: 25px;
	bottom: 0;
	color: #60A142;
	font-weight: bold;
	font-size: 3.0em;
	text-decoration: none;
	margin: 0;
	padding: 5px 10px;
	background: #dddddd;
	border-radius: 10px 10px 0px 0px;
	z-index: 999;
	box-shadow: 2px 2px 2px #B6B6B6;
}

h3	{
	margin: 0;
	padding: 15px;
	text-align: center;
	color: black;
	max-width: 220px;
}

.social h3	{
	background: #ebed53;
	content: "SOCIAL";
}

.spartan-pride h3	{
	background: #ee993e;
	content: "SOCIAL";
}

.people h3	{
	background: #60a142;
}

.bucket-list h3	{
	background: #872e2e;
}

i.icon-circle-arrow-up	{
	color: #60A142;
}

/* image hovers */


/* footer styles */

footer	{
	text-align: center;
	padding: 15px 0px 50px 0px;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.hide	{
	display: none;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

@media (max-width:1200px) {
	#content	{
		width: 600px;
	}
}

@media (min-width:941px) {
	nav ul.nav	{
		display: block !important;
	}
}

@media (max-width:940px) {
	#menu-button	{
		display: block;
	}
	
	#content	{
		width: 100%;
		margin: 60px 30px;
	}
	
	nav	{
		position: fixed;
		top: 0;
		z-index: 888;
		color: #fff;
		width: 100%;
	}
	
	#menu-button	{
		background-color: #000;
		padding: 5px 10px 5px 40px;
	}
	
	nav ul.nav	{
		width: 100%;
		display: none;
	}
	
	nav ul li	{
		text-align: left;
		width: auto;
		margin-top: 4px;
		margin-bottom: 0;
		background-color: #000;
		padding-left: 20px;
	}
	nav ul li a	{
		color: #F8F8F8;
	}
	nav ul li:hover	{
		color: #F8F8F8;
		transform:none;
		-ms-transform:none;
		-moz-transform:none;
		-webkit-transform:none;
		-o-transform:none;
	}
	nav ul li a:hover:after	{	
	content: none;
	float: none;
	}
	.icon-reorder	{
		font-size: 32px;
		font-weight: bold;
	}
	.icon-reorder:hover	{
		cursor: pointer;
		color: #60A142;
	}
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
